*{
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    max-width: 1100vw;

    
}
body section {
    margin-bottom: 80px;
}
    
.display-flex{
    display: flex;
}

nav {
    justify-content: space-between;
    margin: 0 auto;
    color: black;
    background-color: rgba(255, 144, 14, 0.1);
    align-items: center;
}

nav a {
    list-style: none;
    text-decoration: none;
    color: rgb(66, 66, 66);
    font-size: 18px;
    font-weight: 500;
    line-height: 26px;
}

nav h2 {
    color: rgb(19, 19, 19);
    font-family: Work Sans;
    font-size: 45px;
    font-weight: 700;
    line-height: 53px;
}

nav li {
    list-style: none;
}

nav ul {
    justify-content: space-evenly;
    width: 30%;
}

.banner {
    background-color:rgba(255, 144, 14, 0.1); 
    text-align: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    

}
.banner-content {
    display: flex;
    flex-direction: column;
    width: 862px;
    height: 225px;
    align-items: center;
    justify-content: center;
}

.banner-content h1 {
    color: rgb(19, 19, 19);
    font-family: Work Sans;
    font-size: 40px;
    font-weight: 700;
    margin-top: 110px;
}

.banner-content p {
color: rgb(114, 114, 114);
font-family: Work Sans;
font-size: 14px;
font-weight: 400;
line-height: 26px;
margin-top: 10px;
}

.banner-content button {
    width: 120px;
    height: 64px;
    border-radius: 8px;
    background: rgb(255, 144, 14);
    color: rgb(255, 255, 255);
    font-family: Work Sans;
    font-size: 15px;
    font-weight: 400;
    padding: 12px 0px;
    border: none;
    margin-top: 21px;
    margin-bottom: 50px;
}

.banner img {
    width: 100%;
    margin-top: 50px;
    width:80%;
    height: 100%;
    margin-bottom: 40px;
}

.features {
    height: 100%;
    width: 80%; 
    /* border:2px solid tomato */
    
}

.features-img {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap:20px
}
.features-img img {
    width: 310px;
height: 310px;
}
.features-content {
    margin-left: 40px;
    margin: auto  0 auto 45px;
    text-align: left;
}
.features-content h2 {
font-size: 40px;
font-weight: 700;
line-height: 53px;

}

.features-content p {
   margin: 10px 0px;
   color: rgb(114, 114, 114);
    font-size: 14px;
    font-weight: 400;
    line-height: 26px;
 } 
.features-content button {
    width: 120px;
    border-radius: 8px;
    background: rgb(255, 144, 14);
    color: rgb(255, 255, 255);
    font-family: Work Sans;
    font-size: 15px;
    font-weight: 400;
    padding: 12px 0px;
    border: none;
    margin-top: 10px;
    margin-bottom: 50px;
}

#f1 {
    color: rgb(114, 114, 114);
}
#f2 {
 color: rgb(19, 19, 19);
}
#f3 {
color: rgb(255, 144, 14);
}


.features-content2 {
    margin: 0;
}

.features-container2 {
    width: 80%;
    gap: 100px;
}

.features-container2 img {
    width: 700px;
height: 650px;
}

.features-content2 h2 {
    color: rgb(19, 19, 19);
font-family: Work Sans;
font-size: 35px;
font-weight: 700;
line-height: 53px;
margin-bottom: 5px;

}

.features-content2 p {
    color: rgb(114, 114, 114);
font-family: Work Sans;
font-size: 14px;
font-weight: 400;
line-height: 26px;
}

.enjoy-card {
    /* border:2px solid tomato; */
    margin: 7px;
    margin-left: 0px;
    border-radius: 8px;
box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
background: rgb(255, 255, 255);
padding: 17px;
}

.enjoy-card h3 {
    color: rgb(19, 19, 19);
font-family: Work Sans;
font-size: 14px;
font-weight: 600;
line-height: 23px;


}
.enjoy-card p {
    color: rgb(114, 114, 114);
font-family: Work Sans;
font-size: 10px;
font-weight: 400;
line-height: 26px;
}

.exprience {
    position: absolute;
    margin-left: 530px;
    margin-top: 560px;
    color: white;
    border-radius: 8px;
    background: rgb(255, 144, 14);
    width: 247px;
    height: 144px;
    text-align: center;
    padding: 25px;
}


.exprience h1 {
    Font-weight: 700;
    Font-size: 50px;

}

.exprience p {
    Font-size: 20px;
}